body {
  background-color: deepskyblue;
  font-size: 16px;
}

header {
  color: #1E86F7;
  font-family: 'Roboto', sans-serif;
  height: auto;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
  position: relative;
  width: 100%;
}

#header_bg-color {
  background-color: yellow;
  width: 100%;
}

header h1, header h4 {
  font-weight: normal;
}

header h1 {
  margin-bottom: 0;
}

header h4 {
  margin-top: 0;
}

header h2 {
  font-size: 1rem;
  color: #1E86F7;
  font-weight: normal;
  margin-left: 4%;
  width: 70%;
}

header p {
  color: #424242;
  font-size: 2rem;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
  font-style: italic;
  font-weight: lighter;
  padding: 0 4%;
  width: 80%;
}

#competencias {
  height: auto;
}

/* WARNING: MEDIAQUERY */
/* WARNING: MEDIAQUERY */
/* WARNING: MEDIAQUERY */
/* WARNING: MEDIAQUERY */

@media only screen and (min-width: 768px) {
  header h1, header h4 {
    display: inline;
  }

  header {
    padding-top: 100px;
  }

  header p {
    border-left: 1px dotted #999;
    font-size: 40px;
    width: 100%;
  }

  header h2 {
    width: 40%;
    position: absolute;
    right: 1rem;
    text-align: right;
    top: 0;
  }
}
